.profile-body{
    min-height: 100vh;
    min-width: 100vw;
    content: ' ';
    position: relative;
    display: block;
    background-image: url(../../assets/create2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden
}
.root{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.text{
    text-decoration-color: "white";
}
