.profile-body{
    min-height: 100vh;
    min-width: 100vw;
    content: ' ';
    position: relative;
    display: block;
    /* background-image: url(../../assets/profilePage.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden
}
.root{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.text{
    text-decoration-color: "white";
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100px;
    background: orange;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
  }
  
  .back-to-top:hover {
    background: red;
  }